<html>
   <head>
      <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 50%;
        }
        
        table.center {
            margin-left: auto; 
            margin-right: auto;
        }
        
        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }
        
        tr:nth-child(even) {
            background-color: #dddddd;
        }
        
        img{
            height: 50%;
            width: 50%;
        }
        
        .center {
            text-align: center;
        }
          
        .button{
            width: 20%;
            background-color: #23dad0;
            color: rgb(5, 5, 5);
            padding: 14px 20px;
            margin: 8px 0;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            margin-left: 55%; 
            margin-right: auto;
        }
      </style>
    </head>
    <body>
        <H2 class="center">Search Result</H2>
        <br>
        <table class="center">
        <tr>
            <th>Name:</th>
            <th>Update Document:</th>
            <th>Leaflet:</th>
        </tr>
        <% for (var restaurants of restaurants) { %>
        <tr>
            <td><a href=/showdetails?id=<%= restaurants.restaurant_id %>><%= restaurants.name %></a></td>
            <td><a href=/updatepage?id=<%= restaurants.restaurant_id %>>Edit</a></td>
            <td>
                <% if (restaurants.address.coord != null) { %>
                <a  href=/showMap?id=<%= restaurants.restaurant_id %>>Link</a></td>
               <% }else{ %>
                    </td>
               <% } %>
                    </tr>
                <% }                       %>
        </table>
        <h3 style="text-align:center"><a href=/>Back To Menu</a></h3>
    </body>
</html>