<html>
    <body>
        <title>Search</title>
        <div>
            <form action="/search" method="POST" enctype="multipart/form-data">
                Restaurant Name:
                <input type="text" name="name"><p>
                Borough:
                <input type="text" name="borough"><p>
                Cusine Type:
                <select class="cusine" name="cusine">
                    <option value="">---</option>
                    <option value="Italian">Italian</option>
                    <option value="French">French</option>
                    <option value="Indian">Indian</option>
                    <option value="Chinese">Chinese</option>
                    <option value="Japanese">Japanese</option>
                    <option value="Greek">Greek</option>
                    <option value="Russian">Russian</option>
                    <option value="Mexican">Mexican</option>
                    <option value="Thai">Thai</option>
                    <option value="Turkish">Turkish</option>
                </select><p>
                <input type="submit" value="Search">
            </form>
        </div>
    </body>
</html>