<!DOCTYPE html>
<html>
    <body><head>
        <title>Edit</title>  
        <style>
            input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }
  form{
      width: 50%;
  }
  body {
      text-align: center;
  }
  form { display: inline-block; text-align: left; }
  .center{
      text-align: center;
  }
        </style>    
      </head>
        <H2 class="center">Update Document</H2><br>
        <div>
        <form action="/update" method="POST" enctype="multipart/form-data">
            ID: <input type="text" name="restaurant_id" value=<%= c.restaurant_id %> readonly="true"/><p>
                Owner: <input type="text" name="owner" value=<%= c.owner %> readonly="true"/><p>
            Restaurant Name:
            <input type="text" name="name" value=<%= c.name %> required><p>
                Borough:
            <input type="text" name="borough" value=<%= c.borough %> required><p>
            Cusine Type:
            
            <select class="cusine" name="cusine">
                <% if (c.cusine == "Italian") { %>
                <option value="Italian" selected>Italian</option>
                <% }else{ %>
                    <option value="Italian" >Italian</option>
                <% } %>
                <% if (c.cusine == "French") { %>
                <option value="French" selected>French</option>
                <% }else{ %>
                    <option value="French">French</option>
                    <% } %>
                    <% if (c.cusine == "Indian") { %>
                <option value="Indian" selected>Indian</option>
                <% }else{ %>
                    <option value="Indian">Indian</option>
                    <% } %>
                    <% if (c.cusine == "Chinese") { %>
                <option value="Chinese" selected>Chinese</option>
                <% }else{ %>
                    <option value="Chinese">Chinese</option>
                    <% } %>
                    <% if (c.cusine == "Japanese") { %>
                <option value="Japanese" selected>Japanese</option>
                <% }else{ %>
                    <option value="Japanese">Japanese</option>
                    <% } %>
                    <% if (c.cusine == "Greek") { %>
                <option value="Greek" selected>Greek</option>
                <% }else{ %>
                    <option value="Greek">Greek</option>
                    <% } %>
                    <% if (c.cusine == "Russian") { %>
                <option value="Russian" selected>Russian</option>
                <% }else{ %>
                    <option value="Russian">Russian</option>
                    <% } %>
                    <% if (c.cusine == "Mexican") { %>
                <option value="Mexican" selected>Mexican</option>
                <% }else{ %>
                    <option value="Mexican">Mexican</option>
                    <% } %>
                    <% if (c.cusine == "Thai") { %>
                <option value="Thai" selected>Thai</option>
                <% }else{ %>
                    <option value="Thai">Thai</option>
                    <% } %>
                    <% if (c.cusine == "Turkish") { %>
                <option value="Turkish" selected>Turkish</option>
                <% }else{ %>
                    <option value="Turkish">Turkish</option>
                    <% } %>
            </select><p>
            Photo:
            <input type="file" name="photoUpload"><p>
              
            Address:<br>
            Street:
            &nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="street"  required><p>
            Building:
            &nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="building"  required><p>
            Zipcode:
            &nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="zipcode"  required><p>
            Coord:
            &nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="coord"  required><p>
            <input type="submit" value="Update">      
        </form>
    </div>
    <h3 style="text-align:center"><a href=/>Back To Menu</a></h3>
    </body>
</html>